{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block body %}
<div>
	<h2>
		Profil
	</h2>
	<div>
		{% if user.profilePicture %}
		<img src="{{ asset('uploads/profile_pics/' ~ user.profilePicture) }}" alt="profile pic" class="rounded-circle" style="max-height: 60vh; max-width: 80%;">
		{% else %}
			<img src="{{ asset('img/basic_profile_picture.png') }}" alt="default profile pic"  class="rounded-circle" style="max-height: 60vh; max-width: 80%;">
		{% endif %}
	</div>
	<div>
		{{user.Meno}} {{user.Priezvisko}}
	</div>
	<div>
		{{user.email}}
	</div>
	<div>
		{user.phoneNumber}
	</div>
	<div>
		{{user.carDescription}}
	</div>
	<div>
		{{user.about}}
	</div>

</div>
{% endblock %}

{% block javascripts %}
{% endblock javascripts %}
