{% extends 'base.html.twig' %}

{% block title %}Registruj sa{% endblock %}

{% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Registrácia</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email)}}
        {{ form_row(registrationForm.Meno) }}
        {{ form_row(registrationForm.Priezvisko) }}
        {{ form_row(registrationForm.about) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Heslo'
        }) }}
        {{form_row(registrationForm.profilePicture, {
            label: 'Profilový obrázok'
        })}}
        {{ form_row(registrationForm.Car, {label_attr: { class: 'checkbox-custom'} }) }}
        {{ form_row(registrationForm.CarDescription)}}
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Súhlasím so spracovaním osobných údajov',
            label_attr: {class: 'checkbox-custom'}
        }) }}

        <button type="submit" class="btn btn-primary">Registrovať</button>
    {{ form_end(registrationForm) }}
{% endblock %}
