<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('base') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <a class="navbar-brand">
                <img src="/img/logo.svg" alt="" width="40" height="24" class="d-inline-block align-top m-1">
            </a>
            <button class="navbar-toggler" data-target="#main-nav" data-toggle="collapse" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="main-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('index') }}">index</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('route') }}">route</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container text-center border border-2 border-info rounded mt-1">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        {% if app.user %}
        <div class="mb-3 w-50 mx-auto text-center">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {{ encore_entry_script_tags('base') }}
    </body>
</html>
